{{template "mail-top" .}}
<h1 style="margin:0 0 16px 0;font-size:20px">{{t "mail.subject.password_changed" .OrgName}}</h1>
<p style="margin:0 0 16px 0">A senha da sua conta em {{.OrgName}} foi alterada.</p>
<p style="margin:0 0 16px 0">Usuário: <strong>{{.Username}}</strong><br>Quando: {{.When}}{{if .ByAdministrator}}<br>Por: um administrador{{else if .From}}<br>De: {{.From}}{{end}}</p>
<p style="margin:0 0 16px 0">Se foi você, não é preciso fazer mais nada. Se não foi, procure o suporte imediatamente.</p>
{{template "mail-bottom" .}}
