{{template "mail-top" .}}
<h1 style="margin:0 0 16px 0;font-size:20px">{{t "mail.subject.password_changed" .OrgName}}</h1>
<p style="margin:0 0 16px 0">The password of your account at {{.OrgName}} was changed.</p>
<p style="margin:0 0 16px 0">Username: <strong>{{.Username}}</strong><br>When: {{.When}}{{if .ByAdministrator}}<br>By: an administrator{{else if .From}}<br>From: {{.From}}{{end}}</p>
<p style="margin:0 0 16px 0">If you made this change, nothing else needs to be done. If you did not, contact your support right away.</p>
{{template "mail-bottom" .}}
