{{define "title"}}{{t "link.password.title"}}{{end}}
{{define "content"}}<div class="card narrow">
  <h1>{{t "link.password.title"}}</h1>
  <p data-e2e="link-text-account">{{t "link.password.account" .D.SAM}}</p>
  {{with .B}}{{with .PolicyURL}}<p class="small"><a href="{{.}}" data-e2e="link-link-policy">{{t "brand.password_policy"}}</a></p>{{end}}{{end}}
  {{template "error-alert" .D.Error}}
  <form method="post" action="/link/password" autocomplete="off">
    {{template "csrf" .}}
    <input type="text" name="username" value="{{.D.SAM}}" autocomplete="username" hidden data-e2e="link-input-username">
    <div class="field">
      <label for="new">{{t "password.new"}}</label>
      <input id="new" name="new" type="password" autocomplete="new-password" required data-e2e="link-input-password">
      <span class="hint">{{t "password.policy_hint"}}</span>
    </div>
    <div class="field">
      <label for="confirm">{{t "password.confirm"}}</label>
      <input id="confirm" name="confirm" type="password" autocomplete="new-password" required data-e2e="link-input-confirm">
    </div>
    <button class="btn btn-primary btn-block" type="submit" data-e2e="link-btn-submit">{{t "link.password.submit"}}</button>
  </form>
</div>{{end}}
