{{define "title"}}{{t "user.new.title"}}{{end}}
{{define "content"}}<div class="card narrow">
  <h1>{{t "user.new.title"}}</h1>
  {{template "error-alert" .D.Error}}
  <form method="post" action="/admin/users/new" autocomplete="off">
    {{template "csrf" .}}
    <div class="field"><label for="parent">{{t "form.parent"}}</label>{{template "ou-select" (dict "OUs" .D.OUs "Selected" .D.F.parent)}}</div>
    <div class="field"><label for="given">{{t "attr.givenName"}}</label><input id="given" name="given" type="text" value="{{.D.F.given}}" data-e2e="user-new-input-given"></div>
    <div class="field"><label for="sn">{{t "attr.sn"}}</label><input id="sn" name="sn" type="text" value="{{.D.F.sn}}" data-e2e="user-new-input-sn"></div>
    <div class="field"><label for="display">{{t "attr.displayName"}}</label><input id="display" name="display" type="text" value="{{.D.F.display}}" data-e2e="user-new-input-display"></div>
    <div class="field"><label for="sam">{{t "attr.sAMAccountName"}}</label><input id="sam" name="sam" type="text" required maxlength="20" autocapitalize="none" spellcheck="false" value="{{.D.F.sam}}" data-e2e="user-new-input-sam"><span class="hint">{{t "user.new.upn_hint" .D.Realm}}</span></div>
    <div class="field"><label for="mail">{{t "attr.mail"}}</label><input id="mail" name="mail" type="email" value="{{.D.F.mail}}" data-e2e="user-new-input-mail"></div>
    <div class="field"><label for="description">{{t "attr.description"}}</label><input id="description" name="description" type="text" value="{{.D.F.description}}" data-e2e="user-new-input-description"></div>
    <div class="field"><label for="password">{{t "password.initial"}}</label><input id="password" name="password" type="password" autocomplete="new-password" data-e2e="user-new-input-password"><span class="hint">{{t "user.new.password_hint"}}</span></div>
    <div class="field"><label for="confirm">{{t "password.confirm"}}</label><input id="confirm" name="confirm" type="password" autocomplete="new-password" data-e2e="user-new-input-confirm"></div>
    <div class="check"><input id="must_change" name="must_change" type="checkbox" value="1"{{if eq .D.F.must_change "1"}} checked{{end}} data-e2e="user-new-check-must-change"><label for="must_change">{{t "user.reset.must_change"}}</label></div>
    <div class="check"><input id="disabled" name="disabled" type="checkbox" value="1"{{if eq .D.F.disabled "1"}} checked{{end}} data-e2e="user-new-check-disabled"><label for="disabled">{{t "user.new.disabled"}}</label></div>
    <div class="actions">
      <button class="btn btn-primary" type="submit" data-e2e="user-new-btn-preview">{{t "form.preview"}}</button>
      <a class="btn" href="/admin/users" data-e2e="user-new-link-cancel">{{t "form.cancel"}}</a>
    </div>
  </form>
</div>{{end}}
